.color-product{
    .topic-review{
        color: #555555;
        font-size: 16px;
        margin-top: 10px;
    }
    .purpose-review{
        color: #555555;
        font-size: 16px;
        margin-top: 5px;
    }
}
